<web-app xmlns="http://caucho.com/ns/resin">
  <!--
     - Configures the EJB server resource, using the
     - java:comp/env/jdbc/test data source.
     -
     - The ejb-server defaults to java:comp/env/cmp, although
     - that can be changed with the 'name' attribute.
     -
     - ejb-server will pick up the WEB-INF/cmp-id.ejb file
     - automatically.
    -->
  <ejb-server jndi-name="cmp"
              data-source='jdbc/resin'
              config-directory="WEB-INF">
    <create-database-schema/>
  </ejb-server>

  <!--
     - Configures the demo servlet.
     -
     - This example uses a Resin extension for bean-style servlet
     - initialization.  Resin will call the setStudentHome method with
     - the course's home interface found using the JNDI lookup.  It will
     - similarly configure the setQuidditchHome.
    -->
  <servlet servlet-name="client"
	   servlet-class="example.cmp.id.ClientServlet">
    <init>
      <student-home>${jndi:lookup("cmp/id_StudentBean")}</student-home>
      <quidditch-home>${jndi:lookup("cmp/id_QuidditchBean")}</quidditch-home>
    </init>
  </servlet>

  <servlet-mapping url-pattern="/client" servlet-name="client"/>
</web-app>
