<web-app xmlns="http://caucho.com/ns/resin">

  <log name="example" level="fine" path="WEB-INF/debug.log" timestamp="[%M:%S.%s] "
    format="${log.loggerName} ${log.message}"/>

  <!--
     - JMS
    -->
  <resource jndi-name="jms/queue-connectionAbstract-factory"
    type='com.caucho.jms.JVMQueueConnectionFactory'/>

  <resource jndi-name="jms/queue"
    type='com.caucho.jms.memory.MemoryQueue'/>

  <!--
     - EJB SERVER
     - see also message.ejb
    -->
  <ejb-server config-directory="WEB-INF">
    <jms-connection-factory>jms/queue-connectionAbstract-factory</jms-connection-factory>
  </ejb-server>

  <!--
     - CLIENT
    -->

  <!-- a simple message sender servlet for demonstration purposes -->

  <servlet>
    <servlet-name>MessageSenderServlet</servlet-name>
    <servlet-class>example.MessageSenderServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <url-pattern>/send-message</url-pattern>
    <servlet-name>MessageSenderServlet</servlet-name>
  </servlet-mapping>

</web-app>

