<web-app xmlns='http://caucho.com/ns/resin'>
<!--
  <resource jndi-name="amber/factory">
    <type>com.caucho.amber.jca.AmberConnectionFactory</type>
    <init>
      <data-source>java:comp/env/jdbc/resin</data-source>
    </init>
  </resource>

  <resource jndi-name="init">
    <type>example.InitResource</type>
    <init>
      <data-source>java:comp/env/jdbc/resin</data-source>
    </init>
  </resource>

  <servlet servlet-name="create" servlet-class="example.CreateServlet">
    <init>
      <amber-factory>${jndi:lookup("java:comp/env/amber/factory")}</amber-factory>
    </init>
  </servlet>

  <servlet-mapping url-pattern="/create" servlet-name="create"/>
-->
</web-app>
