<web-app xmlns="http://caucho.com/ns/resin">
  <!--
     - Instantiates the singleton service.  The service will have its
     - setValue called for the value parameter.
     -
     - The resource will have its start() method called when
     - the web-app starts and the stop() method called when the
     - web-app stops.
    -->
  <bean class="test.TestResource">
    <init>
      <value>Tutorial Example</value>
    </init>
  </bean>

  <!--
     - Configures the sample servlet
    -->
  <servlet-mapping url-pattern="/test" servlet-class="test.TestServlet"/>
</web-app>
