<web-app xmlns="http://caucho.com/ns/resin">
  <class-loader>
    <make-loader path="WEB-INF/classes">
      <ejb-doclet srcdir="WEB-INF/classes"/>
    </make-loader>

    <compiling-loader path="WEB-INF/classes"/>
  </class-loader>

  <!--
     - Configures the EJB server resource, using the
     - java:comp/env/jdbc/test data source.
     -
     - The ejb-server defaults to java:comp/env/cmp, although
     - that can be changed with the 'name' attribute.
     -
     - ejb-server will pick up the WEB-INF/xdoclet.ejb file
     - automatically.
    -->
  <ejb-server jndi-name="cmp">
    <config-directory>WEB-INF</config-directory>
    <data-source>jdbc/resin</data-source>
    <create-database-schema/>
  </ejb-server>

  <!--
     - Configures the basic servlet.
     -
     - This example uses a Resin extension for bean-style servlet
     - initialization.  Resin will call the setCourseHome method with
     - the course's home interface found using the JNDI lookup.
    -->
  <servlet servlet-name="create"
	   servlet-class="example.CreateServlet">
    <init>
      <course-home>${jndi:lookup("cmp/course")}</course-home>
    </init>
  </servlet>

  <servlet-mapping url-pattern="/xcreate" servlet-name="create"/>

  <!--
     - servlet to initialize the database
    -->
  <servlet servlet-name="init"
	   servlet-class="example.InitServlet">
    <init>
      <data-source>${jndi:lookup("jdbc/resin")}</data-source>
    </init>
    <load-on-startup/>
  </servlet>
</web-app>
