Class-Path: javaee-7.jar baratine-api.jar ../../baratine/lib/baratine-api.jar baratine.jar ../../baratine/lib/baratine.jar hessian.jar quercus.jar javax.faces-2.1.24.jar javamail-141.jar
Implementation-Vendor: Caucho Technology, Inc.
Implementation-Version: @VERSION@
Main-Class: com.caucho.v5.cli.resin.ResinCommandLine
Premain-Class: com.caucho.v5.cli.resin.ResinCommandLineAgent
Agent-Class: com.caucho.v5.cli.resin.ResinCommandLineAgent

