<web-app xmlns="http://caucho.com/ns/resin">
  <!--
     - configuration for the JNDI server.
    -->
  <ejb-server data-source="jdbc/resin" create-database-schema="true">
    <bean type="example.House"/>
    <bean type="example.Student"/>
  </ejb-server>

  <!--
     - configuration for the client.
    -->
  <servlet servlet-name="many2one" servlet-class="example.ManyToOneServlet">
    <init entity-manager="${jndi:lookup('java:comp/EntityManager')}"/>
  </servlet>

  <servlet-mapping url-pattern="/many2one" servlet-name="many2one"/>
</web-app>
