<web-app xmlns="http://caucho.com/ns/resin"
  xmlns:resin="http://caucho.com/ns/resin/core">

  <!-- potentially useful logging:
  <log name="com.caucho.portal" level="finer" path="stdout:"/>
  -->

  <servlet servlet-name="hello" 
           servlet-class="com.caucho.portal.generic.PortletServlet">
    <init>
      <portlet resin:type="example.HelloWorldPortlet"/>
    </init>
  </servlet>

  <servlet-mapping url-pattern="/hello" servlet-name="hello"/>
</web-app>

